.taskList {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 5px;
}

/* Collapsible */
.collapsible {
  background-color: #2e2e2e;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}
.active, .collapsible:hover {
  opacity: 0.8;
}
.content {
  font-size: 13px;
  padding: 0 18px;
  display: none;
  overflow: auto;
  background-color: #c4c4c4;
  color: black;
}

/* Delete Button */
.delete_button {
  background-color: white;
  border: none;
  font-size: 18px;
}
.delete_button:hover {
  cursor: pointer;
  color: red;
  font-weight: bold;
}