
/* Header */
.header_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2e2e2e;
  padding: 0 70px;
  color: #ffffff;
}
/* Logout Button */
.button {
  background-color: #2e2e2e;
  color: #ffffff;
  text-allign: center;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0;
  width: 100px;
  height: 86px;
  font-size: 16px;
}
.createbtn:hover{
  opacity: .80
}
.createbtn{
  background-color: #2e2e2e;
  color: white;
  padding: 7px 10px;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  width: auto;
}
.button:hover {
  border-bottom: 4px #ffffff solid;
}

/* Page */
.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Project Display */
.project_container {
  display: grid;
  grid-row-gap: 2px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  position: center;
  margin: 30px;
  top: 20px;
  height: relative;
  width: 500px;
  padding: 30px;
}

/* Create Task */
.create_container {
  display: grid;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  margin: 30px;
  height: relative;
  width: 500px;
  padding: 30px;
  overflow: auto;
}
.page input[type="text"] {
  background-color: #ffffff;
  border: 0;
  border-bottom: 1px solid #2e2e2e;
  width: 100%;
  padding: 0px;
  font-size: 16px;
  margin: 10px;
}
