/* Bordered form */
.container {
    border: 30px solid #97bef2;
  }
  
  .header {
    font-family: "Georgia",serif;
    padding: 40px;
    text-align: left;
    background: #61A3F7;
    color: white;
    font-size: 60px;
  
  }
  
  .login_label{
    font-family: "Georgia",serif;
    font-size: 15px;
  }
  
  .login_input {
    width: 100%;
    padding: 10px 4px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 10%;
    text-align: middle;
  }
  .login_button {
    background-color: #61A3F7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .login_button:hover {
    opacity: 0.8;
  }
  
  .registerbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #66ccff;
  }
  
  
  .login_container {
    padding: 15px;
  }
  
  .login_span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .registerbtn {
      width: 100%;
    }
  }
  